section{
  border-width: thick;
  border-color: green;
  padding: 10%;
  margin: 10%;
}



.alert {
    margin: auto; 
    width: 100%
}

.col-md-8 {
    margin: auto;
    width: 100%
}

.border_bottom{
	float: left;
	width: 100%
}

.Content-section{
	float: left;
	width: 100%
}
