
h1{
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #714B33;
}

h2{

	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #714B33;
}

a {
  font-family: 'Balsamiq Sans', cursive;
  font-size: 16px;
  color: black;
}

.navbar {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand{
  font-size: 30px;
  font-family: 'Nerko One', cursive;
}

li{
	font-family:"Courier New", Courier, monospace;
}

img{
	margin: auto;
	display:block;
}

section{
  border-style: dotted;
  border-width: thick;
  border-color: #714B33;
  padding: 2%;
  margin: 2%;
}

.alert {
    margin: auto;
    width: 100%
}

.col-md-8 {
    margin: auto;
    width: 100%
}

.border_bottom{
	float: left;
	width: 100%
}

.Content-section{
	float: left;
	width: 100%
}
