{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Cuisine Community{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="static/css/style.css">
<div class="row">
  <div class="col">
    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
       {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>


<div class="row">
  <h2>Add new comment</h2>
    {{ wtf.quick_form(form) }}
</div>




{% endblock %}
