{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Cuisine Community{% endblock %}

{% block page_content %}
<link rel="stylesheet" href="static/css/style.css">
<div class="row">
  <div class="col">
    {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
       {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
</div>

<br>

<div class="Content-section">

  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <br>
      <legend class="border_bottom mb-4"> Login</legend> 
      </div>
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }}
        {% if form.email.errors %}
          {{ form.email(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              <span> {{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.email(class="form-control form-control-lg") }}
        {% endif %}
      </div>
      <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
          {{ form.password(class="form-control form-control-lg is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              <span> {{ error }}</span>
            {% endfor %}
          </div>
        {% else %}
          {{ form.password(class="form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>

    <div>
      {{ form.submit(class="btn btn-outline-info") }}
    </div>
  </form>
</div>




{% endblock %}
